.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown p {
  @apply pb-0;
}

.markdown h2 {
  @apply font-serif font-semibold text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply font-serif font-semibold text-2xl mt-8 mb-4 leading-snug;
}

.markdown h4 {
  @apply font-sans font-light tracking-widest uppercase text-xl mt-8 mb-4 leading-snug;
}

.markdown a {
  @apply text-fern hover:text-pine font-bold;
}

.markdown code {
  @apply py-1 px-1.5 m-0 rounded font-code;
      margin: 0;
      font-size: 85%;
      background-color: rgba(193, 185, 175, 0.3);
}
